[Electric Vehicle Population Data](https://catalog.data.gov/dataset/electric-vehicle-population-data)<br>
Metadata Updated: July 20, 2024
<br><br>
This dataset shows the Battery Electric Vehicles (BEVs) and Plug-in Hybrid Electric Vehicles (PHEVs) that are currently registered through Washington State Department of Licensing (DOL).

In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
import copy
from sentence_transformers import SentenceTransformer
model = SentenceTransformer("all-MiniLM-L6-v2")
from sklearn.metrics.pairwise import cosine_similarity

data = pd.read_csv("../data/data.gov/Electric_Vehicle_Population_Data.csv")
data["CAFV_indicator"] = data["Clean Alternative Fuel Vehicle (CAFV) Eligibility"] == "Clean Alternative Fuel Vehicle Eligible"
data["Make-Model-Year"] = data[["Make", "Model", "Model Year"]].apply(lambda g: g[0] + "-" + g[1] + "-" + str(g[2]), axis=1)
data["Model-Year"] = data[["Model", "Model Year"]].apply(lambda g: g[0]+"-"+str(g[1]),axis=1)

exempt_list = pd.read_csv("../data/data.gov/WA_Tax_Exemptions_-_Potential_Eligibility_by_Make_Model_Excluding_Vehicle_Price_Criteria_20240730.csv")

In [2]:
data.columns.tolist()

['VIN (1-10)',
 'County',
 'City',
 'State',
 'Postal Code',
 'Model Year',
 'Make',
 'Model',
 'Electric Vehicle Type',
 'Clean Alternative Fuel Vehicle (CAFV) Eligibility',
 'Electric Range',
 'Base MSRP',
 'Legislative District',
 'DOL Vehicle ID',
 'Vehicle Location',
 'Electric Utility',
 '2020 Census Tract',
 'CAFV_indicator',
 'Make-Model-Year',
 'Model-Year']

"To be eligible for the exemptions, the vehicle must be capable of traveling at least thirty miles using only battery power."

In [3]:
data["Clean Alternative Fuel Vehicle (CAFV) Eligibility"].value_counts(normalize=True, dropna=False)

Eligibility unknown as battery range has not been researched    0.538717
Clean Alternative Fuel Vehicle Eligible                         0.354298
Not eligible due to low battery range                           0.106985
Name: Clean Alternative Fuel Vehicle (CAFV) Eligibility, dtype: float64

In [4]:
data.loc[data.CAFV_indicator]["Electric Range"].value_counts(dropna=False).sort_index()

30.0     1636
31.0       97
32.0     4607
33.0     1346
34.0      738
         ...
308.0     508
322.0    1717
330.0     331
337.0      82
NaN         2
Name: Electric Range, Length: 81, dtype: int64

In [5]:
data["Electric Vehicle Type"].value_counts()

Battery Electric Vehicle (BEV)            152179
Plug-in Hybrid Electric Vehicle (PHEV)     42053
Name: Electric Vehicle Type, dtype: int64

Note from the 'About this Dataset' section: <br>
"Electric Range is no longer maintained for Battery Electric Vehicles (BEV) because new BEVs have an electric range of 30 miles or more. Zero (0) will be entered where the electric range has not been researched."

It might be that "new BEVs" from the note is those made in year starting from 2021

In [110]:
notCAFV = data.loc[~data.CAFV_indicator & (data["Electric Range"] == 0)]
notCAFV = copy.deepcopy(notCAFV)
notCAFV.loc[notCAFV["Electric Vehicle Type"].map(lambda x: x.endswith("(BEV)")), "Model Year"].value_counts(dropna=False).sort_index(ascending=False)

2025       18
2024    13793
2023    52165
2022    23730
2021    14839
2020       82
2019        3
2013        6
Name: Model Year, dtype: int64

Creating similarity score with the tax exemption dataset of vehicle model description imported from the website.<br>
This is to see if the newer BEV are eligible for CAFV criteria

In [111]:

similarity_list = []
for data_modelname in set(data.loc[(data["Electric Vehicle Type"].map(lambda x: x.endswith("(BEV)")))&(data["Electric Range"] == 0)]["Model"].tolist()):
    for exempt_modelname in set(exempt_list["Vehicle Model Description"].tolist()):
        sim_score = fuzz.ratio(data_modelname.lower(), exempt_modelname.lower())
        # sim_score = cosine_similarity(embeddings1, embeddings2)[0][0]
        # embeddings1 = model.encode([data_modelname], normalize_embeddings=True)
        # embeddings2 = model.encode([exempt_modelname], normalize_embeddings=True)
        similarity_list.append((data_modelname, exempt_modelname, sim_score))
        # print(f"{data_modelname} and {exempt_modelname} have {sim_score}")
similarity_list=sorted(similarity_list, key=lambda x: x[-1], reverse=True)

similarity_dict = {}
for model_name, exempt_name, score in similarity_list:
    # print(model_name, exempt_name, score)
    if model_name not in similarity_dict:
        similarity_dict[model_name] = exempt_name, score
        
notCAFV['exempt_list_name'] = None
notCAFV['sim_score'] = None
notCAFV["exempt_list_name"] = notCAFV["Model"].map(lambda x: similarity_dict[x][0])
notCAFV["sim_score"] = notCAFV["Model"].map(lambda x: similarity_dict[x][1])

Using the similarity score, many of the vehicle models are in the exemption list made after year 2020.
- For year 2025, it's in the future and I think it is safe to assume the future BEVs are already CAFV without having to know electric mileage based on the note from the website.
- Thus, I will assign CAFV indicator as `True` with BEV model year on and after 2020 that have electric mileage as zero

In [ ]:
notCAFV.groupby("Model Year").agg({"sim_score":"mean"}).sort_index()

            sim_score
Model Year
2013        57.000000
2019        71.000000
2020        89.939024
2021        88.365321
2022        85.621955
2023        85.063357
2024        79.247734
2025        71.111111

In [136]:
data.iloc[notCAFV.loc[notCAFV["Model Year"] >= 2020].index.tolist(), 17] = True

In [139]:
data.groupby("Electric Vehicle Type").agg({"CAFV_indicator":"mean"})

                                        CAFV_indicator
Electric Vehicle Type
Battery Electric Vehicle (BEV)                0.999888
Plug-in Hybrid Electric Vehicle (PHEV)        0.506052

In [58]:
data.loc[(data["Electric Vehicle Type"].map(lambda x: x.endswith("(PHEV)"))) & (data['Electric Range'] > 0)].CAFV_indicator.mean()

0.5060283940928872

In [140]:
data.groupby("Make").agg({"CAFV_indicator": "mean", "Model": "count"}).\
rename(columns={"CAFV_indicator": "proportion of CAFV", "Model": "count"}).\
sort_values("proportion of CAFV", ascending=False)

                      proportion of CAFV  count
Make
ACURA                           1.000000      8
GMC                             1.000000     17
VOLKSWAGEN                      1.000000   5483
TH!NK                           1.000000      5
TESLA                           1.000000  85320
SMART                           1.000000    259
ROLLS-ROYCE                     1.000000      2
RIVIAN                          1.000000   4912
RAM                             1.000000      2
POLESTAR                        1.000000   1039
NISSAN                          1.000000  14360
LUCID                           1.000000    265
ALFA ROMEO                      1.000000     59
JAGUAR                          1.000000    234
LEXUS                           1.000000    641
FIAT                            1.000000    793
FISKER                          1.000000    186
AZURE DYNAMICS                  1.000000      5
CADILLAC                        1.000000    630
CHEVROLET                       1.000000  14578
CHRYSLER                        1.000000   3484
DODGE                           1.000000    631
WHEEGO ELECTRIC CARS            1.000000      3
GENESIS                         1.000000    239
HONDA                           0.981859    882
HYUNDAI                         0.953079   5115
SUBARU                          0.937442   1071
KIA                             0.901965   8497
MERCEDES-BENZ                   0.847791   1833
MINI                            0.778779    999
BMW                             0.772025   8150
FORD                            0.679135  10266
VOLVO                           0.634472   4566
AUDI                            0.617758   3987
PORSCHE                         0.578991   1209
TOYOTA                          0.507461   7372
MITSUBISHI                      0.458167   1004
LAND ROVER                      0.238095     63
MAZDA                           0.011111    630
JEEP                            0.000000   5141
BENTLEY                         0.000000      4
LINCOLN                         0.000000    288

In [141]:
data['Make'].value_counts(normalize=True, dropna=False)

TESLA                   0.439269
CHEVROLET               0.075055
NISSAN                  0.073932
FORD                    0.052854
KIA                     0.043747
BMW                     0.041960
TOYOTA                  0.037955
VOLKSWAGEN              0.028229
JEEP                    0.026468
HYUNDAI                 0.026334
RIVIAN                  0.025289
VOLVO                   0.023508
AUDI                    0.020527
CHRYSLER                0.017937
MERCEDES-BENZ           0.009437
PORSCHE                 0.006225
SUBARU                  0.005514
POLESTAR                0.005349
MITSUBISHI              0.005169
MINI                    0.005143
HONDA                   0.004541
FIAT                    0.004083
LEXUS                   0.003300
DODGE                   0.003249
CADILLAC                0.003244
MAZDA                   0.003244
LINCOLN                 0.001483
LUCID                   0.001364
SMART                   0.001333
GENESIS                 0.001230
JAGUAR                  0.001205
FISKER                  0.000958
LAND ROVER              0.000324
ALFA ROMEO              0.000304
GMC                     0.000088
ACURA                   0.000041
AZURE DYNAMICS          0.000026
TH!NK                   0.000026
BENTLEY                 0.000021
WHEEGO ELECTRIC CARS    0.000015
RAM                     0.000010
ROLLS-ROYCE             0.000010
Name: Make, dtype: float64

In [17]:
data["Model"].value_counts(normalize=True, dropna=False)

MODEL Y           0.206809
MODEL 3           0.159320
LEAF              0.069510
MODEL S           0.040266
BOLT EV           0.033661
                    ...
SPECTRE           0.000010
PROMASTER 3500    0.000010
S-10 PICKUP       0.000005
918               0.000005
ESPRINTER         0.000005
Name: Model, Length: 151, dtype: float64

In [145]:
import requests

url = 'https://ev-database.org/robots.txt'
response  = requests.get(url)
print(response.text)

User-agent: *
Sitemap: https://ev-database.org/sitemap.xml

In [146]:
url = 'http://www.boxofficemojo.com/robots.txt'
response  = requests.get(url)
print(response.text)

# robots.txt for BoxOfficeMojo
User-agent: *
Allow: /